%h1 Utilities

- if current_user.has_dues?
  %h4= "You currently owe #{number_to_currency(current_user.current_amount_due, unit: '$')}."

.row.dues_container
  - if current_user.has_dues?
    - current_user.current_dues.each do |due|
      .col-md-3.col-sm-4.col-xs-6
        .thumb-dummy
        .thumbnail.carrot.clouds.quicksand
          .vcenter
            %h3= due.utility.provider
            %p= "#{number_to_currency(due.utility.per_occupant_cost, unit: '$')} due by #{due.utility.due_by.strftime('%e %B')} (#{number_to_currency(due.utility.cost, unit: '$')} total)"
          %span.pay
            = link_to property_utility_pay_path(@property, due.utility), class: 'clouds', method: :post do
              %span.fa.fa-check
              %span &nbsp;Mark as Paid
  - else
    .col-md-12
      %p No dues currently.

  - current_user.current_dues.each do |due|
    .col-md-3.col-sm-4.col-xs-6
      .thumb-dummy
      .thumbnail.nephritis.clouds.quicksand
        .vcenter
          %p= "Paid #{number_to_currency(due.utility.per_occupant_cost, unit: '$')} for #{due.utility.provider}"

-#.row
  -#- if @property.utilities.any?
    -#- @property.utilities.each do |utility|
      -#.col-md-3
        -#.well
          -#%h3= utility.provider
          -#%p= "#{number_to_currency(utility.per_occupant_cost, unit: '$')} due by #{utility.due_by.strftime('%e %B')} (#{number_to_currency(utility.cost, unit: '$')} total)"

  -#- else
    -#%p No utilities listed yet.

.row.center
  = link_to 'Add Utility', new_property_utility_path(@property), class: 'btn btn-primary'
