%ul#dashboard-tabs.nav.nav-tabs.dashboard{ role: "tablist" }
  %li.active
    %a{ href: "#home", data: { toggle: "tab" }} Summary
  %li
    %a{ href: "#issues", data: { toggle: "tab" }} Issues
  %li
    %a{ href: "#roommates", data: { toggle: "tab" }} Roommates

.tab-content
  #home.tab-pane.active
    .row
      .col-md-8
        .row
          .col-md-4.rental_ratings_container
            .square
              %h2.rating.clouds Rental Unit Rating
              %h3.rating
                - if property.has_terms?
                  - property.average_property_rating.round.times do |x|
                    %span.fa.fa-star.yellow
                - else
                  %p Property not yet rated
          .col-md-4.landlord_ratings_container
            .square
              %h2.rating.clouds Landlord Rating
              %h3.rating
                - if property.has_terms?
                  - property.average_landlord_rating.round.times do |x|
                    %span.fa.fa-star.yellow
                - else
                  %p Property not yet rated

        - if property.comments.any?
          .comments_container
            %h3.comments Comments:
            - property.comments.each do |comment|
              %p.comments= comment
        .property-buttons
          %button.btn.btn-primary.edit_button
            %span.fa.fa-pencil &nbsp;Edit

          = link_to 'Show All Properties', properties_path, class: 'btn btn-default'

      .col-md-4.summary_details
        %h3.house_name.clouds= property.name
        .img_circle_holder{ align: "center" }
        %p.address_information.clouds= property.address
        %hr
        %h3.landlord_name.clouds= property.landlord_name
        %p.landlord_email.clouds= property.landlord_email
        %p.landlord_phone_number.clouds= property.landlord_phone
        %hr
        %h3.clouds= "#{number_to_currency(property.rent, unit: '$')} per month"

  #issues.tab-pane
    .row.issues_container
      - if property.issues.empty?
        .col-md-12
          %p No issues yet.
      - else
        - property.outstanding_issues.each do |issue|
          .col-md-3.col-sm-4.col-xs-6
            .thumb-dummy
            .thumbnail.carrot.clouds.quicksand= issue.description
            .thumbnail.carrot.clouds.quicksand.hide
              = "Reported by #{issue.user.first_name}"
              %span.fix
                = link_to property_issue_fix_path(property, issue), class: 'clouds', method: :post do
                  %span.fa.fa-check
                  %span &nbsp;Mark as Fixed

        - property.fixed_issues.each do |issue|
          .col-md-3.col-sm-4.col-xs-6
            .thumb-dummy
            .thumbnail.nephritis.clouds.quicksand= issue.description
            .thumbnail.nephritis.clouds.quicksand.hide
              = "Reported by #{issue.user.first_name}"

    = link_to 'Report an Issue', new_property_issue_path(property)

  #roommates.tab-pane
    - if property.has_terms? and property.current_occupants.any?
      - property.current_occupants.each do |user|
        = render 'users/user', user: user
    - else
      %p No roommates listed.
