%ul#dashboard-tabs.nav.nav-tabs.dashboard{ role: "tablist" }
  %li.active
    %a{ href: "#home", data: { toggle: "tab" }} Summary
  %li
    %a{ href: "#issues", data: { toggle: "tab" }} Issues

.tab-content
  #home.tab-pane.active
    .row
      .col-md-8
        .row
          .col-md-4.rental_ratings_container
            .square
              %h2.rating.clouds Rental Unit Rating
              %h3.rating
                - @property.average_property_rating.round.times do |x|
                  %span.fa.fa-star.yellow
          .col-md-4.landlord_ratings_container
            .square
              %h2.rating.clouds Landlord Rating
              %h3.rating
                - @property.average_landlord_rating.round.times do |x|
                  %span.fa.fa-star.yellow

        - if @property.comments
          .comments_container
            %h3.comments Comments:
            - @property.comments.each do |comment|
              %p.comments= comment
        .property-buttons
          %button.btn.btn-primary.edit_button
            %span.fa.fa-pencil &nbsp;Edit

          = link_to 'Show All Properties', properties_path, class: 'btn btn-default'

      .col-md-4.summary_details
        %h3.house_name Wood House
        .img_circle_holder{ align: "center" }
        %p.address_information= @property.address
        %hr
        %h3.landlord_name= @property.landlord_name
        .img_circle_landlord{ align: "center" }
        %p.landlord_email= @property.landlord_email
        %p.landlord_phone_number= @property.landlord_phone

  #issues.tab-pane
    %h2 Issues
    .row
      - @property.outstanding_issues.each do |issue|
        .col-md-3.col-sm-4.col-xs-6
          .thumb-dummy
          .thumbnail.carrot.clouds.quicksand= issue.description

      - @property.fixed_issues.each do |issue|
        .col-md-3.col-sm-4.col-xs-6
          .thumb-dummy
          .thumbnail.nephritis.clouds.quicksand= issue.description
    -#.row
      -#.col-md-6
        -#%h2 Outstanding Issues
        -#- if @property.outstanding_issues.any?
          -#%table.table.table-bordered.table-striped
            -#%tr
              -#%th Issue
              -#%th Reported By
            -#- @property.outstanding_issues.each do |issue|
              -#%tr
                -#%td= issue.description
                -#%td= issue.user.email
        -#- else
          -#%p No outstanding issues.

      -#.col-md-6
        -#%h2 Fixed Issues
        -#- if @property.fixed_issues.any?
          -#%table.table.table-bordered.table-striped
            -#%tr
              -#%th Issue
              -#%th Reported By
            -#- @property.fixed_issues.each do |issue|
              -#%tr
                -#%td
                  -#%strike= issue.description
                -#%td
                  -#%strike= issue.user.username
        -#- else
          -#- if @property.outstanding_issues.any?
            -#%p No fixed issues.
          -#- else
            -#%p No issues.

    = link_to 'Report an Issue', new_property_issue_path(@property)
