%h1.quicksand.center{ style: 'margin-bottom: 5px;' } Properties

.row.properties_container
  - if @properties.empty?
    %p No properties, yet.
  - else
    - @properties.each do |property|
      .col-md-6.col-sm-6.col-xs-6.center{ style: 'margin-top: 15px;' }
        = link_to property do
          .thumbnail
            = image_tag property.image.url, class: 'img-rounded'
          .cover.carrot.clouds.quicksand
            .row
              .col-md-12
                %p= property.address
                %p= property.landlord_name

.row
  .col-md-12.center{ style: 'margin-top: 15px;' }
    = link_to 'Add Property', new_property_path, class: 'btn btn-lg asbestos clouds'
