%h2{:class => "sign_header", :id => "sign_header"} Sign In

= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  %div.email
    = f.label :email
    = f.email_field :email, autofocus: true

  %div.password
    = f.label :password
    = f.password_field :password, autocomplete: "off"

  - if devise_mapping.rememberable?
    %div
      = f.check_box :remember_me 
      = f.label :remember_me

  %div.login_button
    = f.submit "Log in"

= render "devise/shared/links"
