!!! 5
%html
  %head
    %title Rentelligently
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %link{ href: "http://fonts.googleapis.com/css?family=Corben:bold", rel: "stylesheet", type: "text/css" }
    %link{ href: "http://fonts.googleapis.com/css?family=Rokkit", rel: "stylesheet", type: "text/css" }
    %link{ href: "http://fonts.googleapis.com/css?family=Pacifico", rel: "stylesheet", type: "text/css" }

  %body
    %nav.navbar.navbar-fixed-top.navbar-inverse{ role: "navigation" }
      .container
        .navbar-header
          %a.navbar-brand{ href: "#" } Rentelligently

        %ul.nav.navbar-nav
          %li
            = link_to 'Home', root_path
          %li
            = link_to 'Properties', properties_path
          %li
            %a{ href: '#' } Utilities
          %li
            %a{ href: '#' } Roommates
          %li
            %a{ href: '#' } Forums

        %ul.nav.navbar-nav.navbar-right
          %li= link_to 'Logout', destroy_user_session_path, method: :delete

    #content.container
      = yield
